<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css"/>
</head>
<body>
 <form class="m-form" id="form1">
     <ul>
         <li>用户名：<input id="username" name="username"></li>
         <li>密&nbsp;&nbsp;码：<input type="password" id="pwd" name="password"></li>
         <li>手机号：<input id="phone" name="phone"></li>
         <li><input type="submit" value="提交"/> </li>
     </ul>
 </form>
 <script src="/public/js/jquery-1.8.0.min.js"></script>
 <script src="/plug/layer/layer.min.js"></script>
 <script src="/public/js/witch.ui.validate.js"></script>
<script>
 $(function(){
    $("#form1").witchValidate({
        'fields':{
            '#username':{
                'must':true,
                'minLength':3,
                'maxLength':12,
               // 'url':'/ajax/',
                focusMsg:"请输入用户名",
                errMsg:'用户名不能为空或用户名必须在3-12个字符之间'
            },
            '#phone':{
                'must':true,
                reg:'phone',
                focusMsg:"请输入您的手机号码",
                errMsg:'手机号码格式不合法'
            },
            '#pwd':{
                'must':true,
                'minLength':6,
                'maxLength':16,
                focusMsg:"请输入6-16位的密码",
                errMsg:'密码不能为空且密码须在6-16个字符之间'
            }
        },
        ajaxFun:{
            url: '/setting/auser',
            success: function (msg) {
               if(msg.id) {
                   var index = parent.layer.getFrameIndex(window.name);
                   var dom=parent.$('#user'),dombody=parent.$('#user > tbody');
                   var line=dom.data('line');
                   var tr=$('<tr><td>'+line+'</td><td class="edit">'+$('#username').val()+'</td><td class="edit">'+$('#phone').val()+'</td><td></td></td></tr>');
                   tr.data('id',msg.id);
                   dombody.append(tr);
                   dom.data('line',(line + 1));
                   parent.table.addMenu();
                   parent.table.editInput();
                   parent.layer.close(index);
               }
            },
            error:function() {
                alert('网络错误请重试');
            }
        }
  });
});
</script>
</body>
</html>