<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="import" href="/widget/head/head.html?__inline">
</head>

<body>
    <div class="mainiframe">
        <div id="form1">
            <ul>
                <li>
                    <input id="username" type="text" name="username" placeholder="请输入会员姓名">
                </li>
                <li>
                    <input id="phone" type="text" name="phone" placeholder="请输入手机号">
                </li>
            </ul>
            <div class="footbar">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>
        </div>

    </div>
    <link rel="import" href="/widget/footer/footer.html?__inline">
    <script src="/site/custom/custom.js"></script>
    <script>
        custom.addCustom();
    </script>
</body>

</html>
