<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="import" href="/widget/head/head.html?__inline">
</head>

<body>
    <div class="mainiframe">
        <form id="form1">
            <ul>
                <li>
                    <span></span>
                    <input type="password" placeholder="请输入8-16位的新密码" id="password" name="password" class="" />
                </li>
            </ul>
            <div class="footbar">
                <input type="submit" value="更新" class="btn btn-primary" />
            </div>
        </form>

    </div>
    <link rel="import" href="/widget/footer/footer.html?__inline">
    <script src="/site/operator/operator.js"></script>
    <script>
    operator.updatePassword();
    </script>
</body>

</html>
