<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>pos收银</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="import" href="/widget/head/head.html?__inline">
  <link rel="stylesheet" href="/site/index/index.css">
</head>

<body>
<link rel="import" href="/widget/header/header.html?__inline">
<div class="main">
    <a href="pos.html"><i class="icon-shopping-cart icon-shopping-cart-sys sysicon-lg"></i><label>收银</label></a>
    <a href="goods.html"><i class="icon-cloud-upload icon-cloud-upload-sys sysicon-lg"></i><label>商品录入</label></a>
    <a href="custom.html"><i class="icon-group icon-group-sys sysicon-lg"></i><label>会员管理</label></a>
    <a href="operator.html"><i class="icon-user icon-user-sys sysicon-lg"></i><label>操作员管理</label></a>
    <a href="order.html"><i class="icon-tasks icon-tasks-sys sysicon-lg"></i><label>订单记录</label></a>
    <a href="chart.html"><i class="icon-bar-chart icon-bar-chart-sys sysicon-lg"></i><label>统计报表</label></a>
    <a href="record.html"><i class="icon-reorder icon-reorder-sys sysicon-lg"></i><label>操作记录</label></a>
    <a href="setting"><i class="icon-cog icon-cog-sys sysicon-lg"></i><label>设置</label></a>
</div>
  <link rel="import" href="/widget/footer/footer.html?__inline">
  <script src="/site/index/index.js"></script>
  <script>

  </script>
</body>

</html>
